.gif {
    background-image: url('../../../../public/Screenshot\ \(92\).png'); 
    background-size: 1300px 480px;
    background-repeat: no-repeat;
    width: 1200px;
    height: 480px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    justify-content: center;
  }
 
@media screen and (max-width: 480px) {
  .gif { 
    background-size: 350px 700px;
    background-repeat: no-repeat;
    width: 350px;
    height: 700px; 
    /* background-size: 441px 900px;
    background-repeat: no-repeat;
    width: 403px;
    height: 850px; */
  }

  .gif2 {
    margin-top: 20px !important;
  }
}  

.gif2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}