.gif {
    background-image: url('../../../../public/Screenshot\ \(92\).png'); 
    background-size: 87vw 76vh;
    background-repeat: no-repeat;
    width: 87vw;
    height: 76vh;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    justify-content: center;
  }
 
@media screen and (max-width: 480px) {
  .gif { 
    background-size: 85vw 77vh;
    background-repeat: no-repeat;
    width: 85vw;
    height: 77vh;
    /* background-size: 441px 900px;
    background-repeat: no-repeat;
    width: 403px;
    height: 850px; */
  }

  .gif2 {
    margin-top: 20px !important;
  }
}  

.gif2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}